# Node dependencies
node_modules/
my-portfolio-main/node_modules/

# Next.js build output
.next/
my-portfolio-main/.next/

# Logs & temp files
*.log
*.mp4
.DS_Store
.env
.env.local
.env*.local

# Build output
out/
dist/
build/
